#Improbable GSim Ignores
build.json
generated/
spatialos_nexus.sbt
spatialos_pack.sbt
build.properties
spatialos_pack_plugin.sbt
SpatialOSBuild.scala
.idea/
logs/

#Standard Scala Ignores
*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet